# 1. Write a program to reverse a string.

In [1]:
#Defien the reverse of a string
def reverse(s):
    # Enter the string
    str = ""
    # Enter the loop condition for str
    for i in s:
        str = i + str
    return str
# Enter the String values
s = "Data Science"

print("The original string is : ", end="")
print(s)

print("The reversed string(using loops) is : ", end="")
print(reverse(s))

The original string is : Data Science
The reversed string(using loops) is : ecneicS ataD

# 2. Check if a string is a palindrome.

In [2]:
# define the Palindrome
def is_palindrome(n):
    # Set the values into lower
    n = n.lower()
    # Accept only string values and not accept other values
    n=''.join(e for e in n if e.isalnum())
    # It will return the string function to reverse the values of a string
    return n == n[::-1]

In [3]:
print(is_palindrome("DAD"))
print(is_palindrome("Hello"))

True
False

# 3. Convert a string to uppercase.

In [6]:
# Enter the values of a string
n = input("Enter the name of a string")
# given values update to uppercase 
uppercase_str = n.upper()
#print the result
print("uppercasestring:", uppercase_str)

Enter the name of a stringChandrayan-3
uppercasestring: CHANDRAYAN-3

# 4.Convert a string to lowercase.

In [7]:
# Enter the values of a string
n = input("enter the name of a string")
# convert string values into lowercase
lowercase_str = n.lower()
# print the result
print("lowercasestring:",lowercase_str)

enter the name of a stringsuryayan
lowercasestring: suryayan

# 5. Count the number of vowels in a string.

In [14]:
def count_vowels(string):
    vowel_count=0
    # convert all string values from upper to lower
    string = string.lower()
    # define a set of values
    vowels = set("aeiou")
    # iterate through each character in a string
    for char in string:
    # check the character in a vowel
        if char in vowels:
        # increment the value character in a string
            vowel_count += 1
    # Return final vowel count
    return vowel_count
# Test the function
input_string = "Hello Pw skills"
result = count_vowels(input_string)
print("Number of vowels:",result)

Number of vowels: 3

# 6. Count the number of consonants in a string.

In [20]:
def count_consonants(string):
    consonant_count = 0
    string = string.lower()
    consonants = set("bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ")
    for char in string:
        if char in consonants:
            consonant_count +=1
    return consonant_count

input_string = "Hello DataScience you are the best"
result = count_consonants(input_string)
print("Number of consonants:",result)

Number of consonants: 16

# 7. Remove all whitespaces from a string.

In [3]:
def remove_whitespaces(string):
    result =""
    for char in input_string:
        if char!=" ":
            result+=char
    return result
input_string = "Hello Data how about you"
result = remove_whitespaces(input_string)
print("Remove whitespaces of a string:",result)

Remove whitespaces of a string: HelloDatahowaboutyou

# 8. Find the length of a string without using the len() function.

In [9]:
# Enter the values of a string
string = 'Hello Sachin'
# enter the value for a count
count = 0
for i in String:
    count+=1
print(count)

12

# 9. Check if a string contains a specific word.

In [10]:
# enter the values for a string
input_string = input("Enter a string: ")
specific_word = input("Enter the specific word to check for: ")
# check whether the specified keyword is available in string by using in keyword
if specific_word in input_string:
    # display the output whether it contains specific word or not
    print(f"The string contains the word '{specific_word}'.")
else:
    print(f"The string does not contain the word '{specific_word}'.")

Enter a string: Data science
Enter the specific word to check for: Date
The string does not contain the word 'Date'.

# 10. Replace a word in a string with another word.

In [3]:
# enter the values of a string
input_string = input("Enter the name of a string: ")
# enter the old word values
old_word = input("Enter the word to be replaced: ")
# enter new word values
new_word = input("Enter the new word: ")  
# modify the string values from old to new which value need to be change
modified_string = input_string.replace(old_word,new_word)
print("Modified string:", modified_string)

Enter the name of a string: Hi friends
Enter the word to be replaced: friends
Enter the new word: Mitro
Modified string: Hi Mitro

## 11. Count the occurrences of a word in a string.

In [6]:
# initialize the countoccurences of a string and word
def countoccurences(str,word):
    # split the values of a string
    x = str.split(" ")
    count = 0
    # Iterate the values of each word
    for i in range(0,len(x)):
        if(word == x[i]):
            count = count+1
     # return the final count       
    return count

str = "INeuron A best institute for a Datascience career"
word = "institute"
print(countoccurences(str,word))

1

## 12.Find the first occurrence of a word in a string.

In [7]:
# define the values of first occurence of a text
def firstoccurences(text,word):
    # find the index of the text in a word
    index = text.find(word)
    # check index if it is -1,it indicates that the word is not found.
    if index ==-1:
        # Return None if word is not found
        return None
    # return the index number of a word
    return index
text = "Enter the values for a Data center"
word ="center"
result = firstoccurences(text,word)
print("Index of first occurences:",result)

Index of first occurences: 28

## 13. Find the last occurrence of a word in a string.

In [13]:
# def the values of last occurence of a word
def lastoccurrence(text, word):
    #find the occurence of last word in text
    index = text.rfind(word)

    # If index is -1 then word is not found
    if index == -1:
        # return None if word not found
        return None  
    # return the index of last word of a text
    return index

text = "Enter the values for a Data center"
word = "Data"
result = lastoccurrence(text, word)
print("Index of the last occurrence:", result)

Index of the last occurrence: 23

## 14.Split a string into a list of words.

In [17]:
# define the function of the string
def split_string_list(text):
    # By using split() method to split the text into a list
    words_list = text.split()
    return words_list
text = "The Next future is AI."
words = split_string_list(text)
print("list of words:",words)

list of words: ['The', 'Next', 'future', 'is', 'AI.']

# 15.Join a list of words into a string.

In [18]:
def join_words_string(words_list):
    # use join() method to join the words in the list into a single string
    joined_string = ' '.join(words_list)
    return joined_string

words =["The","Next","Future","is","AI."]
text = join_words_string(words)
print("Joined string:", text)

Joined string: The Next Future is AI.

### 16.Convert a string where words are separated by spaces to one where words are separated by underscores.

In [19]:
def convert_to_underscore_seperated(text):
    # use the replace()method to replace underscores
    underscore_seperated = text.replace(" ","_")
    # return the converted string
    return underscore_seperated
text = "Data Science is the only option."
converted_text = convert_to_underscore_seperated(text)
print("Converted text:",converted_text)

Converted text: Data_Science_is_the_only_option.

## 17.Check if a string starts with a specific word or phrase.

In [20]:
def starts_with(text,prefix):
    # use startswith() method to check if text starts with specified prefix.
    is_start = text.startswith(prefix)
    # return result of check
    return is_start

text = "Hello,Raghu!"
prefix = "Hello"
result = starts_with(text,prefix)
if result:
    print("The scenario is good.")
else:
    print("The scenario is not good.")

The scenario is good.

## 18.Check if a string ends with a specific word or phrase.

In [21]:
def ends_with(text,suffix):
    # use endswith() method to check if text ends with specific character
    is_end = text.endswith(suffix)
    #return result of check
    return is_end
text = "Data Science"
suffix = "Science"
result = ends_with(text,suffix)
if result:
    print("The scenario is good.")
else:
    print("The scenario is not good.")

The scenario is good.

## 19.Convert a string to title case (e.g., "hello world" to "Hello World").

In [22]:
def convert_to_titlecase(text):
    # use title() method to convert text to title case
    title_casetext = text.title()
    # return the converted text
    return title_casetext
text = "Data Science"
title_caseresult = convert_to_titlecase(text)
print("Title Case:",title_caseresult)

Title Case: Data Science

## 20. Find the longest word in a string.

In [28]:
def find_longestword(text):
# use split()method to split text into list of words.
    words = text.split()
    # initialize the longest word and the length of the word
    longestword = ""
    max_length = 0
    # Iterate through list of words
    for word in words:
        # check length of current word is greater than maximum length
        if len(word)>max_length:
            max_length = len(word)
            longest_word = word
            # return longest word
    return longest_word
text = "This is the best scenario for longest words."
longest_word = find_longestword(text)
print("longest word:",longest_word)

longest word: scenario

## 21. Find the shortest word in a string.

In [32]:
def find_shortestword(text):
    #use split() method to split list of words
    words = text.split()
    # initialize the smallest word and the length of the word
    shortestword = None
    min_length = float('inf')
    # iterate through list of words
    for word in words:
            if len(word)<min_length:
                min_length = len(word)
                shortest_word = word
    return shortest_word
text = "This is the best sentence for shortest words."
shortest_word = find_shortestword(text)
print("shortest word:", shortest_word)

shortest word: is

## 22.Reverse the order of words in a string.

In [33]:
 #input string
string = "Data science career"
# reversing words in a given string
s = string.split()[::-1]
l = []
for i in s:
    # append reversed words to l
    l.append(i)
# printing reverse words
print(" ".join(l))

career science Data

## 23.Check if a string is alphanumeric.

In [34]:
def is_alphanumeric(text):
    # use alnum() method to check if string is alphanumeric.
    return text.isalnum()

text = "Greetings123"
result = is_alphanumeric(text)
if result:
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

The string is alphanumeric.

## 24.Extract all digits from a string.

In [36]:
def extract_digits(text):
    # Initialize an empty string to store extracted digits
    digits = ""
    # Iterate through each character in text.
    for char in text:
        #check if a character is a digit using isdigit() method.
        if char.isdigit():
            # Append digit to digits string.
            digits += char
            # return extracted digits.
    return digits
text = "Data132Science343"
extracted_digits = extract_digits(text)
print("Extracted digits:",extracted_digits)

Extracted digits: 132343

## 25.Extract all alphabets from a string.

In [38]:
def extract_alphabets(input_string):
    alphabets = ' '.join([char for char in input_string if char.isalpha()])
    return alphabets
input_string = "Hi123hero345"
result = extract_alphabets(input_string)
print(result)

H i h e r o

### 26. Count the number of uppercase letters in a string.

In [39]:
def count_uppercase(input_string):
    uppercase_count = sum(1 for char in input_string if char.isupper())
    return uppercase_count
input_string = "DataScience"
result = count_uppercase(input_string)
print(result)

2

### 27. Count the number of lowercase letters in a string.

In [40]:
def count_lowercase(input_string):
    lowercase_count = sum(1 for char in input_string if char.islower())
    return lowercase_count
input_string = "DataScience"
result = count_lowercase(input_string)
print(result)

9

## 28. Swap the case of each character in a string.

In [41]:
def swap_case(input_string):
    swapped_string = input_string.swapcase()
    return swapped_string
input_string = "DataWORLD"
result = swap_case(input_string)
print(result)

dATAworld

## 29.Remove a specific word from a string.

In [43]:
def remove_word(input_string,word_to_remove):
    # split the input function to list of words
    words = input_string.split()
    filtered_words =[word for word in words if word != word_to_remove]
    modified_string = ' '.join(filtered_words)
    return modified_string
input_string = "Data Science scenario."
word_to_remove = "Science"
result = remove_word(input_string,word_to_remove)
print(result)

Data scenario.

## 30.Check if a string is a valid email address.

In [44]:
import re
def is_validemail(email):
    # regular expression pattern for a base function
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    if re.match(pattern,email):
        return True
    else:
        return False
email1 = "hello@gmail.com"
email2 = "hello-email"
result1 = is_validemail(email1)
result2 = is_validemail(email2)
print(result1)
print(result2)

True
False

### 31.Extract the username from an email address string.

In [1]:
def extract_username(email):
    # split email address at "@ and take the first trip"
    username = email.split('@')[0]
    return username

email = "chan@gmail.com"
result = extract_username(email)
print(result)

chan

## 32. Extract the domain name from an email address string.

In [3]:
def extract_domain(email):
# split email address at "@" and take split
    domain = email.split('@')[1]
    return domain
email = "chan@gmail.com"
result = extract_domain(email)
print(result)

gmail.com

## 33. Replace multiple spaces in a string with a single space.

In [6]:
def replace_multiplespaces(input_string):
 # split the string at spaces
    cleaned_string = ' '.join(input_string.split())
    return cleaned_string
input_string = " This is the best scenario"
result = replace_multiplespaces(input_string)
print(result)

This is the best scenario

## 34. Check if a string is a valid URL.

In [8]:
from urllib.parse import urlparse

def is_validurl(url):
    try:
        result = urlparse(url)
        # check whether both scheme and netloc are available
        return all([result.scheme,result.netloc])
    except valueError:
        return False
url1 = "https://www.data.com"
url2 = "invalid_url"
url3 = "https://www.Datascience.com"
result1 = is_validurl(url1)
result2 = is_validurl(url2)
result3 = is_validurl(url3)
print(result1)
print(result2)
print(result3)

True
False
True

## 35. Extract the protocol (http or https) from a URL string.

In [13]:
def extract_protocol(url):
    protocol_end = url.find("://")

    if protocol_end != -1:
        protocol = url[:protocol_end]
        return protocol
    else:
        return None
    
url1 = "https://www.google.com"
url2 = "http://gmail.com"
url3 = "ftp://ftp.google.com"
    
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)
    
print("Protocol1 :", protocol1)
print("Protocol2 :",protocol2)
print("Protocol3 :",protocol3)

Protocol1 : https
Protocol2 : http
Protocol3 : ftp

## 36. Find the frequency of each character in a string.

In [17]:
def character_frequency(input_string):
    # create frequency to input values
    frequency = {}
    for char in input_string:
        if char in frequency:
           # increment the frequency count 
            frequency[char] += 1
        else:
            frequency[char] = 1
    return frequency

input_str = "Data frequency"

char_freq = character_frequency(input_str)

for char, freq in char_freq.items():
    print(f"character: '{char}', Frequency: {freq}")

character: 'D', Frequency: 1
character: 'a', Frequency: 2
character: 't', Frequency: 1
character: ' ', Frequency: 1
character: 'f', Frequency: 1
character: 'r', Frequency: 1
character: 'e', Frequency: 2
character: 'q', Frequency: 1
character: 'u', Frequency: 1
character: 'n', Frequency: 1
character: 'c', Frequency: 1
character: 'y', Frequency: 1

## 37. Remove all punctuation from a string.

In [19]:
import string
def remove_punctuation(input_string):
    # create translate to remove punctuation
    translator = str.maketrans("","",string.punctuation)
    # use translation table to remove punctuation from input string
    clean_string = input_string.translate(translator)
    return clean_string
# input string with punctuation
input_str = "Hi, data scenario?"
# remove punctuation
cleaned_str = remove_punctuation(input_str)

print("original string :", input_str)
print("Cleaned string :", cleaned_str)

original string : Hi, data scenario?
Cleaned string : Hi data scenario

## 38. Check if a string contains only digits.

In [25]:
def contains_onlydigits(input_string):
       return input_string.isdigit()
string1 = "123456"
string2 = "Hi123"
string3 = "234.58"
    
result1 = contains_onlydigits(string1)
result2 = contains_onlydigits(string2)
result3 = contains_onlydigits(string3)
    
print(f"'{string1}' contains only digits:", result1)
print(f"'{string2}' contains only digits:", result2)
print(f"'{string3}' contains only digits:", result3)

'123456' contains only digits: True
'Hi123' contains only digits: False
'234.58' contains only digits: False

## 39. Check if a string contains only alphabets.

In [27]:
def contains_alphabets(input_string):
    # return all characters are alphabetic
    return input_string.isalpha()
string1 = "world"
string2 = "Hi123"
string3 = "123456"

# check if string contains alphabets
result1 = contains_alphabets(string1)
result2 = contains_alphabets(string2)
result3 = contains_alphabets(string3)

print(f"'{string1}' contains only alphabets:", result1)
print(f"'{string2}' contains only alphabets:", result2)
print(f"'{string3}' contains only alphabets:", result3)

'world' contains only alphabets: True
'Hi123' contains only alphabets: False
'123456' contains only alphabets: False

## 40. Convert a string to a list of characters.

In [29]:
def string_list(input_string):
    #use list() constructor to convert list of characters
    char_list = list(input_string)
    return char_list

input_str = "Data world!"
# convert string to list of characters
char_list = string_list(input_str)

print("Original string:", input_str)
print("List of characters:", char_list)

Original string: Data world!
List of characters: ['D', 'a', 't', 'a', ' ', 'w', 'o', 'r', 'l', 'd', '!']

## 41. Check if two strings are anagrams.

In [34]:
def are_anagrams(str1, str2):
    # remove spaces and convert to lowercase
    str1 = str1.replace(" ","").lower()
    str2 = str2.replace(" ","").lower()
    
    return sorted(str1) == sorted(str2)
string1 = "listen"
string2 = "silent"
string3 = "career"
string4 = "cricket"

result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)

print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

'listen' and 'silent' are anagrams: True
'career' and 'cricket' are anagrams: False

## 42. Encode a string using a Caesar cipher.

In [66]:
# Define a function named caesar_cipher that encodes a string using a Caesar cipher.
def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """

  # Initialize an empty string to store the encoded text.
  encoded_text = ""

  # Iterate through each character in the input text.
  for char in text:
    # Check if the character is alphabetic.
    if char.isalpha():
      # Calculate the encoded character's Unicode code point value by shifting it by the specified amount.
      # Ensure the value wraps around within the lowercase alphabet range (a-z).
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      # Keep non-alphabetic characters unchanged.
      encoded_char = char

    # Add the encoded character to the encoded text.
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text

# Define the input text and the shift value for encoding.
text = "Hello, world!"
shift = 3

# Call the caesar_cipher function to encode the text using the specified shift.
encoded_text = caesar_cipher(text, shift)

# Print the encoded text.
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

## 43. Decode a Caesar cipher encoded string.

In [67]:
# Define a function to decode a string using a Caesar cipher
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "lopp, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

## 44. Find the most frequent word in a string.

In [71]:
import re
from collections import Counter

def most_frequent_word(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]','',input_string).lower()
    # Split the string into words
    words = clean_string.split()
    # use counter to count word frequencies
    word_counter = Counter(words)
    # Find most common word
    most_common_word = word_counter.most_common(1)[0][0]
    
    return most_common_word
    
input_str = "This is the best scenario!"
# Find most frequent word
most_common = most_frequent_word(input_str)

print("Most frequent word:", most_common)

Most frequent word: this

## 45. Find all unique words in a string.

In [72]:
import re
def unique_words(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]','',input_string).lower()
    # split string into words and convert to a set for uniqueness
    words = set(clean_string.split())
    
    return words
input_str = "Data world, Data science"
# Find unique words
unique_word_set = unique_words(input_str)

print("unique words:", unique_word_set)

unique words: {'science', 'world', 'data'}

## 46. Count the number of syllables in a string.

In [74]:
import re

def count_syllables(word):
    # count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+',word,re.IGNORECASE)
    
    return len(vowel_groups)

word1 = "Data"
word2 = "career"
word3 = "syllable"

syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'Data' has 2 syllables.
'career' has 2 syllables.
'syllable' has 3 syllables.

## 47. Check if a string contains any special characters.

In [76]:
import re

def contains_special_characters(input_string):
    # define a regular expression pattern to match special characters
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    # use search() method to find a match
    match = pattern.search(input_string)
    # return True if it is found, otherwise found
    return bool(match)
# check if a string contains special characters
string1 = "Data, world!"
string2 = "This is a scenario."
string3 = "special@characters"

result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)

print(f"'{string1}' contains special characters", result1)
print(f"'{string2}' contains special characters", result2)
print(f"'{string3}' contains special characters", result3)

'Data, world!' contains special characters True
'This is a scenario.' contains special characters True
'special@characters' contains special characters True

## 48. Remove the nth word from a string

In [88]:
def remove_nth_word(input_string, n):
    
    words = input_string.split()
    
    if n >= 1 and n <= len(words):
    
       remove_word = words.pop(n - 1)
    
       modified_string = ' '.join(words)
    
       return modified_string, remove_word
    else:
        return None, None

input_str = "This is an exact scenario."
n_value = 4

modified_str, remove_word = remove_nth_word(input_str, n_value)

print("Original string", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", remove_word)
else:
    print("Invalid n value.")

Original string This is an exact scenario.
Modified string: This is an scenario.
Removed word: exact

## 49. Insert a word at the nth position in a string.

In [90]:
# input string 2
input_String = "Dataareer"

# adding character 'C' at a specific position i.e, at index 5
# by formatting it using format() function
input_String= "Data{}areer".format('C')

# printing the resultant string
print("Adding 'C' at 9th index of an inputString_2:\n", input_String)

Adding 'C' at 9th index of an inputString_2:
 DataCareer

## 50. Convert a CSV string to a list of lists.

In [114]:
def csv_string_to_list(csv_string):
    # split csv string to lines
    lines = csv_string.split('\n')
    # Initialize empty list to store result
    result = []
    
    for line in lines:
        # split each line into fields using comma as delimeter
        fields = line.split(',')
        # Append fields to the result is a row
        result.append(fields)
        
    return result
csv_data = "Name, Age, Country\n Chan, 25, India\n Raju, 30, UK"
    # convert string to a list of lists
list_of_lists = csv_string_to_list(csv_data)
    
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
[' Chan', ' 25', ' India']
[' Raju', ' 30', ' UK']

# List based practice problem :

## 1. Create a list with integers from 1 to 10.

In [116]:
#list of integers from 1 to 5
integer_list = [i for i in range(1,5)]
# print list
print(integer_list)

[1, 2, 3, 4]

## 2. Find the length of a list without using the len() function.

In [120]:
list = ['This','is','best','case']
# find length of list
count = 0
for i in list:
    count = count+1

print("The length of a list is", count)

The length of a list is 4

In [122]:
s = "Name, Age, Country\nRaghu, 30, USA\nJames, 20, USA\nRam, 25, UK"
lines = s.split("\n")
list = []
for line in lines:
    field = line.split(",")
    list.append(field)
for row in list:
    print(row)

['Name', ' Age', ' Country']
['Raghu', ' 30', ' USA']
['James', ' 20', ' USA']
['Ram', ' 25', ' UK']

## 3. Append an element to the end of a list.

In [126]:
list = [20, 30, 40]
# Element to append
new_element = 100
# Append new element to end of list
list.append(new_element)
# Print updated list
print("Updated list:", list)

Updated list: [20, 30, 40, 100]

## 4. Insert an element at a specific index in a list.

In [129]:
list = [15, 25, 45, 60]
# Element to insert
new_element = 150
# Index to insert the element
index_insert = 2
# insert new element at specific index
list.insert(index_insert, new_element)
# print updated list
print("Updated list:", list)

Updated list: [15, 25, 150, 45, 60]

## 5. Remove an element from a list by its value.

In [130]:
list = [10,20,30,40,50,60]
# remove element
rem_element = 40
# remove element by its value
list.remove(rem_element)
# print updated list
print("updated List:", list)

updated List: [10, 20, 30, 50, 60]

## 6. Remove an element from a list by its index.

In [131]:
list = [10, 20, 30, 40, 50, 60]
# Index element to remove
index_remove = 2
# remove element at specific index
Removed_element = list.pop(index_remove)
# Print Updated list and removed list
print("Updated list:", list)
print("Removed_element:", Removed_element)

Updated list: [10, 20, 40, 50, 60]
Removed_element: 30

## 7. Check if an element exists in a list.

In [133]:
list = [10, 20, 30, 40, 50, 60]

element_check = 40

if element_check in list:
    print(f"{element_check} exists in list.")
else:
    print(f"{element_check} does not exists in list.")

40 exists in list.

## 8. Find the index of the first occurrence of an element in a list.

In [134]:
list = [10,20,30,40,50,20]

element_check = 20

index = list.index(element_check)

print(f"The index of {element_check} is {index}")

The index of 20 is 1

## 9. Count the occurrences of an element in a list.

In [136]:
list = [10,20,30,40,50,20,20]
# Count the element of list
element_count = 20
# count occurence of element
count = list.count(element_count)
# print count
print(f"The element {element_count} occurs {count} times in a list.")

The element 20 occurs 3 times in a list.

## 10. Reverse the order of elements in a list.

In [137]:
list =[10,20,35,50,80]
# reverse order of elements in list
list.reverse()
#print reverse list
print("Reversed List:", list)

Reversed List: [80, 50, 35, 20, 10]

## 11. Sort a list in ascending order.

In [138]:
list = [50,20,10,30,40]
# sort list in ascending order
list.sort()
# print sorted list
print("Sorted list in ascending order:",list)

Sorted list in ascending order: [10, 20, 30, 40, 50]

## 12.Sort a list in descending order.

In [139]:
list = [50,20,10,30,40]
# sort list in descending order
list.sort(reverse = True)
# print sorted list
print("Sorted list in descending order:", list)

Sorted list in descending order: [50, 40, 30, 20, 10]

## 13. Create a list of even numbers from 1 to 20.

In [142]:
even_numbers = [x for x in range(2,50,2)]

print("list of even numbers:",even_numbers)

list of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

## 14. Create a list of odd numbers from 1 to 20.

In [143]:
odd_num = [x for x in range(1,20,2)]
# print list of odd numbers
print("List of odd numbers:", odd_num)

List of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## 15. Find the sum of all elements in a list.

In [144]:
list = [10,20,30,40,50]
# calculate all elements in a list
total_sum = sum(list)

print("sum of elements", total_sum)

sum of elements 150

## 16. Find the maximum value in a list.

In [145]:
list = [10,20,30,40,50,60]
# Find maximum value in a list
max_value = max(list)

print("Maximum value:", max_value)

Maximum value: 60

## 17. Find the minimum value in a list.

In [146]:
list = [10,20,30,40,50,60]
# Find minimum value in a list
min_value = min(list)

print("Minimum value:", min_value)

Minimum value: 10

### 18. Create a list of squares of numbers from 1 to 10.

In [148]:
squares = [x ** 2 for x in range(1,5)]

print("List of squares", squares)

List of squares [1, 4, 9, 16]

## 19.Create a list of random numbers.

In [151]:
import random
# create a list of random integers betwee 1 and 100
ran_integers = [random.randint(1,100) for _ in range(10)]

print("List of random integers:", ran_integers)

List of random integers: [15, 58, 62, 22, 63, 88, 90, 41, 51, 65]

## 20. Remove duplicates from a list.

In [160]:
list = [10,20,30,20,40,20,50]

unique_list = set(my_list)

print("List with out duplicates:", unique_list)

List with out duplicates: {40, 10, 50, 20, 30}

## 21. Find the common elements between two lists.

In [163]:
def common_elements(a,b):
    a_set = set(a)
    b_set = set(b)
    
    if(a_set & b_set):
        print(a_set & b_set)
    else:
        print("No common elements")
        
a = [1,2,3,4,5]
b = [5,6,7,8,9]
common_elements(a,b)

{5}

## 22. Find the difference between two lists.

In [169]:
list1 = [10,20,30,40,50]
list2 = [30,40,50,60,70]

difference = set(list1).difference(list2)

print("Difference between lists:", difference)

Difference between lists: {20, 10}

## 23. Merge two lists.

In [171]:
list1 = [10,20,30]
list2 = [40,50,60]
# merged list using + operator
merged_list = list1+list2
# print merged list
print("Merged list:", merged_list)

Merged list: [10, 20, 30, 40, 50, 60]

## 24. Multiply all elements in a list by 2.

In [173]:
list = [10,20,30,40,50,60]

mult_list = [x*2 for x in list]

print("Multiplied list:",mult_list)

Multiplied list: [20, 40, 60, 80, 100, 120]

## 25. Filter out all even numbers from a list.

In [175]:
list = [1,2,3,4,5]

out = []

for num in list:
    
    if num % 2 == 0:
        out.append(num)
        print(out)

[2]
[2, 4]

## 26. Convert a list of strings to a list of integers.

In [176]:
str_list = ["10","20","30","40","50"]
# convert string into list of integers using a list comprehension
integer_list = [int(x) for x in str_list]
# print list of integers
print("List of integers:",str_list)

List of integers: ['10', '20', '30', '40', '50']

## 27. Convert a list of integers to a list of strings.

In [177]:
int_list = [10,20,30,40,50,60]
# convert list of integers to list of string using list comprehension
string_list = [str(x) for x in int_list]
# print list of string
print("List of strings:", string_list)

List of strings: ['10', '20', '30', '40', '50', '60']

## 28. Flatten a nested list.

In [180]:
nes_list = [[1,2,3],[4,5],[6,7,8,9,0]]
flat_list = []
for sublist in nes_list:
    for num in sublist:
        flat_list.append(num)
    
print("Flattened List",flat_list)

Flattened List [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

## 29. Create a list of the first 10 Fibonacci numbers.

In [185]:
def gen_fibonacci(n):
    # Initialise list with first two fibonacci series
    fibonacci_list = [0,1]
    for i in range(2,n):
            next_fibonacci = fibonacci_list[i-1] + fibonacci_list[i-2]
            fibonacci_list.append(next_fibonacci)
            
    return fibonacci_list
fibonacci_numbers = gen_fibonacci(2)
print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1]

## 30. Check if a list is sorted.

In [187]:
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i-1]:
            return False
    return True

ascending_list = [10,20,30,40,50]

if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

## 31. Rotate a list to the left by n positions.

In [188]:
def rotate_left(lst, n):
    n = n % len(lst)
    
    rotated = lst[n:] + lst[:n]
    return rotated

lst = [1,2,3,4,5,6]

n =2

rotated_lst = rotate_left(lst, n)

print("Rotated list:", rotated_lst)

Rotated list: [3, 4, 5, 6, 1, 2]

## 32. Rotate a list to the right by n positions.

In [190]:
def rotate_right(lst, n):
    n = n% len(lst)
    
    rotated = lst[-n:] + lst[:-n]
    return rotated
my_list = [1,2,3,4,5,6,7,8]
# Number of positions to be rotate by
n = 2
# Rotate the list to right by n positions
rotated_list = rotate_right(my_list, n)

print("Rotated list:", rotated_list)

Rotated list: [7, 8, 1, 2, 3, 4, 5, 6]

## 33. Create a list of prime numbers up to 50.

In [192]:
def isprime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 ==0 or num% 3 == 0:
        return False
    i = 5
    while i * i <=num:
        print(i,num)
        if num % i ==0 or num % (i+2) == 0:
            return False
        i +=6
    return True
prime_numbers = [num for num in range(2,30) if isprime(num)]

print("List of prime numbers upto 50:", prime_numbers)

5 25
5 29
List of prime numbers upto 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

## 34. Split a list into chunks of size n.

In [195]:
def sieve_eratosthenes(limit):
    primes = []
    prime = [True] * (limit + 1)
    prime[0] = prime[1] = False
    
    for num in range(2, int(limit ** 0.5) + 1):
        if prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                prime[multiple] = False
    
    for num in range(int(limit ** 0.5)+1, limit+1):
        if prime[num]:
            primes.append(num)
    return primes

prime_numbers = sieve_eratosthenes(30)

print("List of prime numbers up to 30:", prime_numbers)

List of prime numbers up to 30: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

## 35. Find the second largest number in a list.

In [198]:
list = [10, 5, 25, 35, 15, 30, 22]

sorted_list = sorted(set(list))

if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

second largest number: 30

## 36. Replace every element in a list with its square.

In [199]:
list = [2,4,6,8,10,12]

sq_list = [x ** 2 for x in list]

print("squared list:", sq_list)

squared list: [4, 16, 36, 64, 100, 144]

## 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [200]:
list = ['Mango','Banana','Cherry','Apple','Blueberry']

my_dict = {element: index for index, element in enumerate(list)}

print("Converted dictionary:", my_dict)

Converted dictionary: {'Mango': 0, 'Banana': 1, 'Cherry': 2, 'Apple': 3, 'Blueberry': 4}

## 38. Shuffle the elements of a list randomly.

In [201]:
import random

list =[1,2,3,4,5,6,7,8,9,10,11,12]

random.shuffle(list)

print("shuffled list:", list)

shuffled list: [5, 10, 7, 1, 9, 11, 3, 8, 6, 2, 12, 4]

## 39. Create a list of the first 10 factorial numbers.

In [204]:
def factorial(n):
    if n == 0 or n ==1:
        return 1
    else:
        return n * factorial(n-1)
    # create a list of 5 factorial numbers
factorial_numbers = [factorial(i) for i in range(5)]
    
print("List of first 10 factorial numbers:", factorial_numbers)

List of first 10 factorial numbers: [1, 1, 2, 6, 24]

## 40. Check if two lists have at least one element in common.

In [206]:
def has_commonelement(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False
list1 = [1,2,3,4,5]
list2 = [3,4,5,6,7]
    # check  two lists atleast one element in common
if has_commonelement(list1, list2):
    print("The list have atleast one common element.")
else:
    print("The list does not any common elements.")

The list have atleast one common element.

## 41. Remove all elements from a list.

In [209]:
list = [1,2,3,4,5]
# clear all elements from the list
list.clear()
# print empty list
print("Empty list:",list)

Empty list: []

## 42. Replace negative numbers in a list with 0.

In [213]:
list = [10, -5, 20, -15, 30, -25, 40, -0]
# iterate through list and replace negative numbers with 0 
for i in range(len(list)):
    if list[i] < 0:
        list[i] = 0
# print list after replacing negative numbers with 0            
print("List after Rplace negative number:",list)

List after Rplace negative number: [10, 0, 20, 0, 30, 0, 40, 0]

## 43. Convert a string into a list of words.

In [214]:
string = "Hi, This is a best sentence."

word_list = string.split()

print("List of words:", word_list)

List of words: ['Hi,', 'This', 'is', 'a', 'best', 'sentence.']

## 44. Convert a list of words into a string.

In [215]:
word_list = ["Hi","Data","is","the","Best","career."]
# convert list of words in string
string = " ".join(word_list)
# print resulting string
print("Converted string:", string)

Converted string: Hi Data is the Best career.

## 45. Create a list of the first n powers of 2.

In [218]:
n = 10
# create a list of first n powers of 2 using a loop
power_list = [2**i for i in range(n)]
# print list of powers of 2
print("List of first", n, "powers of 2:", power_list)

List of first 10 powers of 2: [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

## 46. Find the longest string in a list of strings.

In [220]:
string_list = ["Mango","Apple","Orange","Dates","Strawberry"]
# Find longest string in list
longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s
    # print longest string    
print("Longest_string:",longest_string)

Longest_string: Strawberry

## 47. Find the shortest string in a list of strings.

In [223]:
string_list = ["Mango","Apple","Orange","Date","Strawberry"]
# Find shortest string in list
shortest_string = string_list[0]
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s
    # print longest string    
print("shortest_string:",shortest_string)

shortest_string: Date

## 48. Create a list of the first n triangular numbers.

In [225]:
def triangular_numbers(n):
    return[i * (i+1) // 2 for i in range(1, n+1)]
# specify value of n
n = 10
# create a list of first n triangular numbers
triangular_list = triangular_numbers(n)
# print list of triangular numbers
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 10 triangular numbers: [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

## 49. Check if a list contains another list as a subsequence.

In [228]:
def is_subsequence(subsequence,list):
    # index for subsequent elements
    subseq_index = 0 
    for element in list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False
# list and subsequence
list = [1,2,3,4,5,6,7,8,9,10]
subsequence = [3,5,8,9]
# check if main list contains subsequence
if is_subsequence(subsequence, list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contains the subsequence.")

Main list contains the subsequence.

## 50. Swap two elements in a list by their indices.

In [230]:
list = [1,2,3,4,5,6,7,8]

index1 = 1
index2 = 5

temp = list[index1]
list[index1] = list[index2]
list[index2] = temp

print("List after swapping elements:", list)

List after swapping elements: [1, 6, 3, 4, 5, 2, 7, 8]

# Tuple based practice problem :

## 1. Create a tuple with integers from 1 to 5.

In [232]:
tuple = (10, 20, 30, 40, 50, 60)
# Access third element of tuple
third_element = tuple[2]
# Explanantion: In this line, we use indexing to access third element of tuple
# since indexing is 0-based, third element at index 2.

print("The third element of tuple is:", third_element)

The third element of tuple is: 30

## 2. Access the third element of a tuple.

In [234]:
tuple = (10,20,30,40,50,60)
# Access third element (index 2) of tuple
third_element = tuple[3]

print("The third element of tuple is:", third_element)

The third element of tuple is: 40

## 3. Find the length of a tuple without using the len() function.

In [237]:
tuple = (10,20,30,40,50,60)
# Initialize a variable to count the elements
count = 0
# Iterate through tuple and increment count of each element
for i in tuple:
    count += 1
    
print("The length of the tuple is:", count)

The length of the tuple is: 6

## 4. Count the occurrences of an element in a tuple.

In [239]:
tuple = (10, 20, 30, 25, 50, 60, 20, 25)
# chhose element to count occurence of
element_count = 25
# initialize a variable to keep track of count
count = 0
# Iterate through tuple and count occurence of chosen element
for item in tuple:
    if item == element_count:
        count += 1
        
print(f"The element {element_count} appears {count} times in the tuple.")

The element 25 appears 2 times in the tuple.

## 5. Find the index of the first occurrence of an element in a tuple.

In [243]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 20, 40, 50)

# Step 2: Choose the element to find the index of
element_to_find = 20

# Step 3: Initialize a variable to keep track of the index
index = -1  # Initialize with -1 to indicate that the element was not found

# Step 4: Iterate through the tuple and find the index of the chosen element
for i, item in enumerate(my_tuple):
    if item == element_to_find:
        index = i
        break  # Exit the loop once the first occurrence is found

# Step 5: Print the index of the first occurrence
if index != -1:
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not found in the tuple.")

The first occurrence of 20 is at index 1.

## 6. Check if an element exists in a tuple.

In [245]:
uple = (10,20,30,40,50,60)
# choose element to check for existence
element_to_check = 40
# check if element exists in tuple using 'in' operator
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exists in the tuple.")

40 exists in the tuple.

## 7. Convert a tuple to a list.

In [6]:
# Create a list
my_tuple = (22, 42, 53, 64, 85)

# Convert the list to a tuple
lists = list(my_tuple)
print(lists)

[22, 42, 53, 64, 85]

## 8. Convert a list to a tuple.

In [1]:
# Create a list
my_list = [22, 42, 53, 64, 85]

# Convert the list to a tuple
tuples = tuple(my_list)
print(tuples)

(22, 42, 53, 64, 85)

## 9. Unpack the elements of a tuple into variables.

In [2]:
my_tuple = (10,20,30,40,50)

var1,var2,var3,var4,var5 = my_tuple

print("var1:", var1)
print("var2:", var2)
print("var3:", var3)
print("var4:", var4)
print("var5:", var5)

var1: 10
var2: 20
var3: 30
var4: 40
var5: 50

## 10. Create a tuple of even numbers from 1 to 10.

In [3]:
# start from 2, step by 2, end at 10
evennum_list = [num for num in range(2,11,2)]
# convert list to tuple
evennum_tuple = tuple(evennum_list)

print("Tuple of even numbers:", evennum_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

## 11. Create a tuple of odd numbers from 1 to 10.

In [14]:
start = int(input("Enter the start of range:"))
end = int(input("Enter the end of range:"))
 
# iterating each number in list
for num in range(start, end + 1):
 
    # checking condition
    if num % 2 != 0:
        print(num)

Enter the start of range:2
Enter the end of range:10
3
5
7
9

## 12. Concatenate two tuples.

In [15]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)
# concatenate two tuples
concat_tuple = tuple1 + tuple2
# print concatenated tuples
print("concatenated tuple:", concat_tuple)

concatenated tuple: (1, 2, 3, 4, 5, 6)

## 13. Repeat a tuple three times.

In [16]:
orig_tuple = (1,2,3)
# Repeat tuple three times
rep_tuple = orig_tuple * 3
# print repeated tuple
print("Repeated tuple:", rep_tuple)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

## 14. Check if a tuple is empty.

In [17]:
emp_tuple = ()
non_emp_tuple = (1,2,3,4,5)
# check if tuples are empty
if not emp_tuple:
    print("The emp_tuple is empty.")
else:
    print("The emp_tuple is not empty.")
    
if not non_emp_tuple:
    print("The non_emp_tuple is empty.")
else:
    print("The non_emp_tuple is not empty.")

The emp_tuple is empty.
The non_emp_tuple is not empty.

## 15. Create a nested tuple.

In [18]:
nested_tuple = ((1,2,3),('a','b','c'),(True,False))
# print nested tuple
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

## 16. Access the first element of a nested tuple.

In [19]:
nested_tuple = ((1,2,3),('a','b','c'),(True,False))
# Access first element of nested tuple
first_element = nested_tuple[0]
# print first element
print("First element of nested Tuple:", first_element)

First element of nested Tuple: (1, 2, 3)

## 17. Create a tuple with a single element.

In [20]:
single_elem_tuple = (42,)
# single element tuple
print("Single element tuple:", single_elem_tuple)

Single element tuple: (42,)

## 18. Compare two tuples.

In [22]:
tuple1 = (1,2,3)
tuple2 = (1,2,4)
# compare two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2) # InEquality check
print("tuple1 < tuple2:", tuple1 < tuple2) #Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2) #less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2) # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2) # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

## 19. Delete a tuple.

In [30]:
tuple=('tutorials', 'point', 2022,True)
print(tuple)
del(tuple)
print("After deleting the tuple:",tuple)

('tutorials', 'point', 2022, True)
After deleting the tuple: <class 'tuple'>

## 20. Slice a tuple.

In [31]:
tuple = (10,20,30,40,50,60,70,80)
# slice tuple to get a portion of it
sliced_tuple = tuple[2:6]
# print sliced tuple
print("Sliced tuple:",sliced_tuple)

Sliced tuple: (30, 40, 50, 60)

## 21. Find the maximum value in a tuple.

In [33]:
tuple = (10,20,5,45,100,30)
# maximum value in tuple using max() function
max_val = max(tuple)
# print max value
print("Maximum value:", max_val)

Maximum value: 100

## 22. Find the minimum value in a tuple.

In [35]:
tuple = (10,20,30,5,40,50,100)
# Minimum value in  tuple using min() function
min_val = min(tuple)
# print min value
print("Minimum value:", min_val)

Minimum value: 5

## 23. Convert a string to a tuple of characters.

In [49]:
test_str = "1,-5,4,6,7"
# printing original string
print("The original string is:" + str(test_str))
#convert string to tuple
# using map() + tuple() +int + split()
res = eval(test_str)

print("Tuple after getting conversion from string :" + str(res))

The original string is:1,-5,4,6,7
Tuple after getting conversion from string :(1, -5, 4, 6, 7)

## 24. Convert a tuple of characters to a string.

In [51]:
tuple_characters = ('D','a','t','a',' ','S','c','i','e','n','c','e')
# convert tupe of characters to a string using join() method
string_tuple = ''.join(tuple_characters)
# print result
print("String from tuple:", string_tuple)

String from tuple: Data Science

## 25. Create a tuple from multiple data types.

In [52]:
mixed_tuple = (1, "Hello", "4.56", True)

print(mixed_tuple)

(1, 'Hello', '4.56', True)

## 26. Check if two tuples are identical.

In [54]:
tuple1 = (1,2,3)
tuple2 = (1,2,3)
tuple3 = (4,5,6)
# compare tuples for identity using equality operator
are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3
# print results
print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

## 27. Sort the elements of a tuple.

In [61]:
sort_tuples = [(3, 7), (2, 12), (5, 10), (9, 0)]
sort_tuples.sort(key=lambda x: x[1])
print(sort_tuples)

[(9, 0), (3, 7), (5, 10), (2, 12)]

## 28. Convert a tuple of integers to a tuple of strings.

In [2]:
tuple_of_integers = (10, 20, 30, 40, 50)

# Step 2: Convert the tuple of strings to a tuple of integers using a list comprehension
tuple_of_strings = tuple(str(item) for item in tuple_of_integers)

# Step 3: Print the tuple of integers
print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('10', '20', '30', '40', '50')

## 29. Convert a tuple of strings to a tuple of integers.

In [1]:
tuple_of_strings = ('10', '20', '30', '40', '50')

# Step 2: Convert the tuple of strings to a tuple of integers using a list comprehension
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)

# Step 3: Print the tuple of integers
print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (10, 20, 30, 40, 50)

## 30. Merge two tuples.

In [3]:
# create two tuples
tuple1 = (1,2,3)
tuple2 = (4,5,6)
# merged two tuples using + operator
merged_tuple = tuple1+ tuple2
# Print merged result
print("Merged tuple:",merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

## 31. Flatten a nested tuple.

In [5]:
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened
# create nested tuple
nested_tuple = ((1,2),(3,4,5),(6,(7,8)))
# Flattened nestle tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))
# print flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

## 32. Create a tuple of the first 5 prime numbers.

In [8]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
        return True
    # create first 5 prime number
prime_numberlist = [num for num in range(2,100) if is_prime(num)][:5]
    # convert list into tuple
prime_numbertuple = tuple(prime_numberlist)
    # print tuple of prime numbers
print("Tuple of first 5 prime numbers:", prime_numbertuple)

Tuple of first 5 prime numbers: (5, 7, 9, 11, 13)

## 33. Check if a tuple is a palindrome.

In [11]:
def is_palindrome(tup):
    return tup == tup[::-1]
# create tuple for test
palindrome_tuple = (1,2,3,2,1)
non_palindrome_tuple = (1,2,3,4,5,6)
# check tuples are palindrome
is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

#print result
print("Palindrome tuple is a palindrome:", is_palindrome1)
print("non Palindrome tuple is a palindrome:", is_palindrome2)

Palindrome tuple is a palindrome: True
non Palindrome tuple is a palindrome: False

### 34. Create a tuple of squares of numbers from 1 to 5.

In [12]:
square_tuple = tuple(x**2 for x in range(1,6))

print("Square tuple:",square_tuple)

Square tuple: (1, 4, 9, 16, 25)

## 35. Filter out all even numbers from a tuple.

In [14]:
orig_tuple = (1,2,3,4,5,6,7,8,9,10)
# filter out even numbers in last comparison
filtered_tuple = tuple(num for num in orig_tuple if num%2 != 0)
# print filtered tuple
print("Filtered tuple:", filtered_tuple)

Filtered tuple: (1, 3, 5, 7, 9)

## 36. Multiply all elements in a tuple by 2.

In [15]:
orig_tuple = (1,2,3,4,5)
# Multiply all elements by 2 using list comprehension to tuple
doubled_tuple = tuple(num * 2 for num in orig_tuple)
# print Doubled tuple
print("Doubled tuple is :", doubled_tuple)

Doubled tuple is : (2, 4, 6, 8, 10)

## 37. Create a tuple of random numbers.

In [20]:
import random
# create a tuple of random numbers using list comprehension
random_tuple = tuple(random.randint(1, 100) for _ in range(10))
# print tuple of random numbers
print("Random tuple:", random_tuple)

Random tuple: (36, 33, 27, 60, 53, 10, 12, 85, 61, 94)

## 38. Check if a tuple is sorted.

In [22]:
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i+1]:
            return False
    return True
# create tuples for test
sort_tuple = (1,2,3,4,5)
unsort_tuple = (5,3,1,4,2)
# check if tuples are sorted
is_sort1 = is_sorted(sort_tuple)
is_sort2 = is_sorted(unsort_tuple)
# print results
print("Sort_tuple is sorted:", is_sort1)
print("unsort_tuple is sorted:", is_sort2)

Sort_tuple is sorted: True
unsort_tuple is sorted: False

## 39. Rotate a tuple to the left by n positions.

In [25]:
def rotate_tuple_left(tup, n):
    # ensure n in range of tuple length
    n = n % len(tup)  
    rotated_tuple = tup[n:] + tup[:n]  
    return rotated_tuple


my_tuple = (1, 2, 3, 4, 5, 6, 7, 8)
n_positions = 4
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(5, 6, 7, 8, 1, 2, 3, 4)

## 40. Rotate a tuple to the right by n positions.

In [28]:
def rotate_righttuple(tup,n):
    n = n% len(tup)
    rotate_tuple = tup[-n:] + tup[:-n]
    return rotate_tuple
my_tuple = (1,2,3,4,5,6,7,8)
nposition = 4
result = rotate_righttuple(my_tuple, nposition)
print(result)

(5, 6, 7, 8, 1, 2, 3, 4)

### 41. Create a tuple of the first 5 Fibonacci numbers.

In [31]:
def gen_fibonacci(n):
    fibonacci = [0, 1]
    while len(fibonacci) < n:
        next_num = fibonacci[-1] + fibonacci[-2]
        fibonacci.append(next_num)
    return tuple(fibonacci)

fibonacci_tuple = gen_fibonacci(10)

print(fibonacci_tuple)

(0, 1, 1, 2, 3, 5, 8, 13, 21, 34)

## 42. Create a tuple from user input.

In [32]:
input_str = input("Enter elements seperated by commas:")
# Split input string into list of strings
input_list = input_str.split(',')
# convert list of strings to tuple
user_tuple = tuple(input_list)
# print results
print("User input tuple:", user_tuple)

Enter elements seperated by commas:D,a,t,a,,e,l,e,m,e,n,t,s
User input tuple: ('D', 'a', 't', 'a', '', 'e', 'l', 'e', 'm', 'e', 'n', 't', 's')

## 43. Swap two elements in a tuple.

In [35]:
tuples = (1, 2, 3, 4, 5, 6, 7, 8)

index1 = 1
index2 = 4

swap_tuple = tuple(
     tuples[i] if i not in (index1, index2)
else
     tuples[index2] if i == index1
else
     tuples[index1]
     for i in range(len(tuples))
)

print("swapped tuples:", swap_tuple)

swapped tuples: (1, 5, 3, 4, 2, 6, 7, 8)

## 44. Reverse the elements of a tuple.

In [37]:
my_tuples = (1, 2, 3, 4, 5, 6, 7, 8)

rev_tuple = my_tuple[::-1]

print("Reversed Tuple:", rev_tuple)

Reversed Tuple: (8, 7, 6, 5, 4, 3, 2, 1)

## 45. Create a tuple of the first n powers of 2.

In [38]:
n = 10

power_2tuple = tuple(2 ** i for i in range(n))

print("Tuple of first", n, "power of 2:", power_2tuple)

Tuple of first 10 power of 2: (1, 2, 4, 8, 16, 32, 64, 128, 256, 512)

## 46. Find the longest string in a tuple of strings.

In [39]:
str_tuple = ("Mango", "Apple", "Orange", "Strawberry", "Kiwi")
# Find lomgest string in tuple
long_str = max(str_tuple, key=len)
# print longest string
print("Longest string is:", long_str)

Longest string is: Strawberry

## 47. Find the shortest string in a tuple of strings.

In [40]:
str_tuple = ("Mango", "Apple", "Orange", "Strawberry", "Kiwi")
# find shortest string in tuple
short_str = min(str_tuple, key=len)
# print shortest string
print("Shortest string is:", short_str)

Shortest string is: Kiwi

### 48. Create a tuple of the first n triangular numbers.

In [42]:
n = 10
# create tuple of first n triangular numbers using list
triangular_num_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n+1))
# print tuple of triangular numbers
print("Tuple of first", n, "Triangular numbers:", triangular_num_tuple)

Tuple of first 10 Triangular numbers: (1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

## 49. Check if a tuple contains another tuple as a subsequence.

In [45]:
def contains_subseq(main_tuple, sub_tuple):
    sub_len = len(sub_tuple)
    for i in range(len(main_tuple) - sub_len + 1):
        if main_tuple[i:i+sub_len] == sub_tuple:
            return True
    return False
    
main_tuple = (1,2,3,4,5,6,7,8,9)
    
sub_tuple = (3,4,5)
    # check main tuple contains subsequent tuple
contains_subseq = contains_subseq(main_tuple, sub_tuple)
    
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [47]:
n = 20
 
alternate_tuple = tuple(i % 2 for i in range(n))

print("Tuple of alternating 1s and 0s:", alternate_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

# Set based problems:

## 1. Create a set with integers from 1 to 5

In [48]:
my_set = set()
# Add integers from 1 to 5
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)

print(my_set)

{1, 2, 3, 4, 5}

## 2. Add an element to a set

In [53]:
my_set = {1,2,3,4,5,6,7,8}
# Display original set
print("Original set:", my_set)
# Add element to set
elem_add = 9
my_set.add(elem_add)
# Display modified element
print("Set after adding element:", my_set)

Original set: {1, 2, 3, 4, 5, 6, 7, 8}
Set after adding element: {1, 2, 3, 4, 5, 6, 7, 8, 9}

## 3. Remove an element from a set.

In [54]:
my_set = {1,2,3,4,5,6,7,8}
# print original set
print("Original set:", my_set)
# element to remove
elem_rem = 3

my_set.remove(elem_rem)

print("Set after removing", elem_rem, ":", my_set)

Original set: {1, 2, 3, 4, 5, 6, 7, 8}
Set after removing 3 : {1, 2, 4, 5, 6, 7, 8}

## 4. Check if an element exists in a set.

In [57]:
my_set = {1, 3, 5, 7, 9}

elem_check = int(input("Enter element to check:"))

if elem_check in my_set:
    
    print(f"{elem_check} exists in set.")
else:
    print(f"{elem_check} does not exist in set.")

Enter element to check:5
5 exists in set.

### 5. Find the length of a set without using the len() function

In [59]:
my_set = {1,2,3,4,5,6,7,8}
# Initialize a variable to count elements in a set
count = 0
# Iterate through each element in set
for _ in my_set:
  # increase count 1 for each element  
    count += 1
    # print count which is length of set
print("Length of the set:", count)

Length of the set: 8

## 6. Clear all elements from a set.

In [60]:
my_set = {1,2,3,4,5,6,7,8}
# Display original set
print("Original set:", my_set)
# clear all elements from set using clear() method
my_set.clear()

print("set after clearing:", my_set)

Original set: {1, 2, 3, 4, 5, 6, 7, 8}
set after clearing: set()

## 7. Create a set of even numbers from 1 to 10

In [61]:
evennumber_set = set()
# iterate numbers from 1 to 10
for num in range(1, 11):
    # check if number is even
    if num % 2 == 0:
      # Add even number to set  
        evennumber_set.add(num)
    # print set of even numbers    
print(evennumber_set)

{2, 4, 6, 8, 10}

## 8. Create a set of odd numbers from 1 to 10

In [62]:
oddnumber_set = set()
# iterate numbers from 1 to 10
for num in range(1, 11):
  # check  number is odd  
    if num % 2 !=0:
        # if number is odd add it to the set
        oddnumber_set.add(num)
        # print final set of odd numbers
print(oddnumber_set)

{1, 3, 5, 7, 9}

## 9. Find the union of two sets

In [64]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_res = set1.union(set2)

print("set1:",set1)
print("set2:",set2)
print("Union of set 1 and set 2:", union_res)

set1: {1, 2, 3, 4, 5}
set2: {4, 5, 6, 7, 8}
Union of set 1 and set 2: {1, 2, 3, 4, 5, 6, 7, 8}

## 10. Find the intersection of two sets

In [65]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
# intersection using intersection() method
intersection_res = set1.intersection(set2)
# print original sets and intersection
print("set 1:", set1)
print("set 2:", set2)
# print intersection results
print("Intersection result is:", intersection_res)

set 1: {1, 2, 3, 4, 5}
set 2: {4, 5, 6, 7, 8}
Intersection result is: {4, 5}

## 11. Find the difference between two sets.

In [66]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

diff_set = set1.difference(set2)

print("set 1:", set1)
print("set 2:", set2)
print("Difference:", diff_set)

set 1: {1, 2, 3, 4, 5}
set 2: {4, 5, 6, 7, 8}
Difference: {1, 2, 3}

## 12. Check if a set is a subset of another set.

In [68]:
set1 = {1, 2, 3, 4}
set2 = {1, 2, 3, 4, 5}

is_subset = set1.issubset(set2)

print("Is sub1 is a subset of set2:", is_subset)

Is sub1 is a subset of set2: True

## 13. Check if a set is a superset of another set.

In [70]:
set1 = {1, 2, 3, 4, 5, 6, 7, 8}
set2 = {3, 4, 5, 6}

is_superset = set1.issuperset(set2)

if is_superset:
    print("set1 is a superset of set2.")
else:
    print("set1 is not a superset of set2.")

set1 is a superset of set2.

## 14. Create a set from a list

In [82]:
my_lst = [2, 4, 1, 4, 3, 2, 5, 6]
#use set() constructor to convert list into a set
my_set = set(my_lst)
# print original list and resulting set
print("Original List:", my_lst)
print("set from List:", my_set)

Original List: [2, 4, 1, 4, 3, 2, 5, 6]
set from List: {1, 2, 3, 4, 5, 6}

## 15. Convert a set to a list.

In [73]:
my_set = {3, 1, 5, 1, 2, 6, 2}
# convert set to list
my_lst = list(my_set)
# print original set to converted list
print("Original set:", my_set)
print("Converted List:", my_lst)

Original set: {1, 2, 3, 5, 6}
Converted List: [1, 2, 3, 5, 6]

## 16. Remove a random element from a set.

In [78]:
import random
# Enter some elements in a set
n_set = {1, 2, 3, 4, 5, 6, 7, 8}
# Display original set
print("Original set is:", n_set)
# select random element from set using random.choice() function
random_element = random.choice(list(n_set))
 # Remove random element from set using remove() method
n_set.remove(random_element)

print("Updated set after removing", random_element, ":", n_set)

Original set is: {1, 2, 3, 4, 5, 6, 7, 8}
Updated set after removing 6 : {1, 2, 3, 4, 5, 7, 8}

## 17. Pop an element from a set.

In [77]:
n_set = {1, 2, 3, 4, 5, 6, 7, 8}
# print original set
print("Original set:", n_set)
# pop an element using pop() method
popped_element = n_set.pop()
# print element to popped
print("Popped element is:", popped_element)
# print set after popping element
print("Set after popping is:", n_set)

Original set: {1, 2, 3, 4, 5, 6, 7, 8}
Popped element is: 1
Set after popping is: {2, 3, 4, 5, 6, 7, 8}

### 18. Check if two sets have no elements in common.

In [85]:
set1 = {1,2,3,4,5}
set2 = {6,7,8,9,10}
# Intersection is use to compare both sets
common_elem = set1.intersection(set2)
# Check common elements in set is 0
if not common_elem:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elem)

The two sets have no elements in common.

### 19. Find the symmetric difference between two sets.

In [86]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
# Calculate both sets using symmetric difference
symm_diff = set1 ^ set2
# print symmetric difference
print("symmetric difference between two sets is:",symm_diff)

symmetric difference between two sets is: {1, 2, 3, 6, 7, 8}

### 20. Update a set with elements from another set.

In [88]:
# Enter the values of first set
set1 = {1,2,3,4,5}
print("set1:", set1)
# Enter values for second set
set2 = {4,5,6,7,8}
print("set2:", set2)
# update the values of set1 elements from set2
set1.update(set2)
print("Updated set 1:",set1)

set1: {1, 2, 3, 4, 5}
set2: {4, 5, 6, 7, 8}
Updated set 1: {1, 2, 3, 4, 5, 6, 7, 8}

### 21. Create a set of the first 5 prime numbers.

In [89]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_set = set()

num = 2
while len(prime_set) < 5:
    if is_prime(num):
        prime_set.add(num)
        
    num += 1
print("Set of prime numbers:", prime_set)

Set of prime numbers: {2, 3, 5, 7, 11}

## 22. Check if two sets are identical.

In [90]:
set1 = {1, 2, 3, 4, 5}
# order of elements are not mandatory in sets
set2 = {3, 1, 5, 2, 4}
# check two sets are equal or not
if set1 == set2:
    print("The given sets are identical.")
else:
    print("The given sets are not identical.")

The given sets are identical.

## 23. Create a frozen set

In [91]:
elements = [1, 2, 3, 4, 5, 6, 7, 8]
# create frozensets using constructor and passing elements in frozen set
frozensets = frozenset(elements)

print("Frozen Sets are:", frozensets)

Frozen Sets are: frozenset({1, 2, 3, 4, 5, 6, 7, 8})

## 24. Check if a set is disjoint with another set.

In [92]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

disjoint_status = set1.isdisjoint(set2)

print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? False

### 25. Create a set of squares of numbers from 1 to 5.

In [93]:
squ_set = set()
# use loop to iterate through numbers from 1 to 5
for num in range(1, 6):
    # calculate square of current number
    square = num ** 2
    # Add square to set
    squ_set.add(square)
    
print(squ_set)

{1, 4, 9, 16, 25}

### 26. Filter out all even numbers from a set.

In [96]:
orig_set = {1, 2, 3, 4, 5, 6, 7, 8}
# Initialize an empty set to store filtered even numbers
evennum_set = set()
# Iterate through each element in original set
for num in orig_set:
    # check current number is even(%2)
    if num%2 == 0:
        # if even, add it to evennum_set
        evennum_set.add(num)
        # print original set and set contaiing even numbers
print("Original set is:", orig_set)
print("Even number set is:", evennum_set)

Original set is: {1, 2, 3, 4, 5, 6, 7, 8}
Even number set is: {8, 2, 4, 6}

## 27. Multiply all elements in a set by 2.

In [97]:
orig_set = {1, 2, 3, 4, 5}

mult_set = set()

for num in orig_set:
    
    mult_num = num * 2
    
    mult_set.add(mult_num)
    
print("Original set is:", orig_set)

print("Multiplied set is:", mult_set)

Original set is: {1, 2, 3, 4, 5}
Multiplied set is: {2, 4, 6, 8, 10}

## 28. Create a set of random numbers.

In [104]:
import random
# Define number of random number in set
num_random_numbers = 5
# Initialize empty set to store random numbers
random_number_set = set()
# use loop to generate random numbers and add to set
for _ in range(num_random_numbers):
    # Generate random numbers between 1 and 50
    random_num = random.randint(1, 50)
    # Add random number to set
    random_number_set.add(random_num)
    # print generated set of random numbers
print("generated set of random numbers is:", random_number_set)

generated set of random numbers is: {33, 2, 34, 7, 28}

### 29. Check if a set is empty.

In [105]:
n_set = set()
# check if set is empty using 'if' function
if not n_set:
    print("The set is empty.")
else:    
    print("The set is not empty.")

The set is empty.

## 30. Create a nested set (hint: use frozenset).

In [106]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}
# create frozensets from innersets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)
# create nested set using frozensets
nested_set = {frozen_set1, frozen_set2}

print("Nested set is:", nested_set)

Nested set is: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

### 31. Remove an element from a set using the discard method.

In [108]:
n_set = {1, 2, 3, 4, 5, 6, 7, 8}

print("Initial set:", n_set)

elem_to_remove = 5

n_set.discard(elem_to_remove)

print("Set after removing", elem_to_remove, ":", n_set)

Initial set: {1, 2, 3, 4, 5, 6, 7, 8}
Set after removing 5 : {1, 2, 3, 4, 6, 7, 8}

## 32. Compare two sets.

In [109]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

is_subset = set1.issubset(set2)

is_superset = set1.issuperset(set2)

intersection = set1.intersection(set2)

union = set1.union(set2)

difference1 = set1.difference(set2)

difference2 = set2.difference(set1)

print("Set1:", set1)
print("Set2:", set2)
print("Is set1 a subset of set2:", is_subset)
print("Is set2 a subset of set1:", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set1: {1, 2, 3, 4, 5}
Set2: {4, 5, 6, 7, 8}
Is set1 a subset of set2: False
Is set2 a subset of set1: False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

## 33. Create a set from a string.

In [110]:
input_string = "Career"
# use set() constructor to create a set from characters in string
char_set = set(input_string)
# print result
print(char_set)

{'e', 'C', 'r', 'a'}

## 34. Convert a set of strings to a set of integers.

In [112]:
str_set = {"1234","4567","78910"}
# Initialize empty set to store integers
int_set = set()
# Iterate each string in string set
for string in str_set:
    # convert string io an integer using int() function
    int_value = int(string)
    # Add integer to integer set
    int_set.add(int_value)
    
print("Original string set:", str_set)
print("Converted integer set:", int_set)

Original string set: {'78910', '4567', '1234'}
Converted integer set: {1234, 78910, 4567}

### 35. Convert a set of integers to a set of strings.

In [113]:
int_set = {1, 2, 3, 4, 5, 6, 7, 8}
# Initialize empty set to store integers
str_set = set()
# Iterate through each integer in integer set
for num in int_set:
    #convert integer to string using str() function
    num_str = str(num)
    # Add string representation to string_set
    str_set.add(num_str)
    
print("Original int_set:", int_set)
print("Converted strings_set:",str_set)

Original int_set: {1, 2, 3, 4, 5, 6, 7, 8}
Converted strings_set: {'3', '1', '2', '7', '8', '6', '5', '4'}

## 36. Create a set from a tuple.

In [115]:
input_tuple = (1, 2, 3, 4, 3, 1, 2)
# convert tuple to set
output_set = set(input_tuple)
# print result
print(output_set)

{1, 2, 3, 4}

## 37. Convert a set to a tuple.

In [117]:
input_set = {1, 2, 3, 4, 5}
# convert set to tuple
output_tuple = tuple(input_set)
# print original and converted tuple
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

## 38. Find the maximum value in a set.

In [120]:
n_set = {15, 7, 22, 13, 55, 8, 11}
# Initialize a variable to store maximum value
max_val = None
# Iterate through each element in set
for num in n_set:
    # check if max value is None or if number greater than maximum value
    if max_val is None or num > max_val:
        max_val = num
        
print("Maximum value:", max_val)

Maximum value: 55

## 39. Find the minimum value in a set.

In [121]:
n_set = {15, 7, 22, 13, 55, 8, 11}
# Initialize a variable to store minimum value
min_val = None
# Iterate through each element in set
for num in n_set:
    # check if min value is None or if number smaller than current minimum value
    if min_val is None or num < min_val:
        min_val = num
        
print("Minimum value:", min_val)

Minimum value: 7

## 40. Create a set from user input.

In [122]:
user_set = set()

print("Enter elements for the set(type 'done' to finish):")
while True:
    
    user_input = input(">")
    if user_input.lower() == 'done':
        # Exit loop if user enters done
        break
       # Add user input to set 
    user_set.add(user_input)
    
print("Final set:", user_set)

Enter elements for the set(type 'done' to finish):
>Data Science, Career, done
>done
Final set: {'Data Science, Career, done'}

## 41. Check if the intersection of two sets is empty.

In [123]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
# intersectio of two sets using intersection method
intersection_res = set1.intersection(set2)
# chek if intersection result is empty
if not intersection_res:
    
    print("The intersection of two sets is empty.")
else:
    print("The intersection of two sets is not empty.")

The intersection of two sets is not empty.

## 42. Create a set of the first 5 Fibonacci numbers.

In [124]:
fibonacci_set = set()
# Initialize two fibonacci numbers
a,b = 0,1
# Loop to generate 5 fibonacci numbers
for _ in range(6):
    # Add current fibonacci series to set
    fibonacci_set.add(a)
    # calculate next Fibonacci number
    a,b =b, a + b
    
print("Set of first 5 Fibonacci numbers:", fibonacci_set)

Set of first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

## 43. Remove duplicates from a list using sets.

In [1]:
orig_list = [1, 2, 3, 4, 5, 6, 5, 7, 8, 9, 10, 4]
# convert list into set
uniq_set = set(orig_list)
# convert set back to list
uniq_list = list(uniq_set)

print("Original List:", orig_list)
print("List with Duplicates Removed:", uniq_list)

Original List: [1, 2, 3, 4, 5, 6, 5, 7, 8, 9, 10, 4]
List with Duplicates Removed: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 44. Check if two sets have the same elements, regardless of their count.

In [5]:
def have_some_elem(set1, set2):
# convert set into lista dn sort them
    
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))
# convert sorted lists to check if they are equal
    return sorted_list1 == sorted_list2
# check sets ahave same elements
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

result = have_some_elem(set1, set2)

if result:
    print("The sets have same elements.")
else:
    print("The sets do not have same elements.")

The sets have same elements.

## 45. Create a set of the first n powers of 2

In [4]:
def gen_power_of_2(n):
    # Enter an empty set into the power of 2
    power_of_2 = set()
    #Loop from 0 to n-1
    for i in range(n):
        # calculate current power of 2 using exponential operator
        power = 2 ** i
        # Add current power 2 in the set
        power_of_2.add(power)
       # return set power 2 
    return power_of_2   
# enter value of n
n = 5

powers_set = gen_power_of_2(n)

print(powers_set)

{1, 2, 4, 8, 16}

### 46. Find the common elements between a set and a list.

In [7]:
sets = {1, 2, 3, 4, 5}
lists = [1, 3, 5]
# convert list of set to set list
list_to_set = set(lists)
# Enter empty list to store common elements
common_elem = []
# Iterate through elements in set
for element in sets:
  # check if element is available in the set  
    if element in list_to_set:
        # check if element is present and add it to the common element
        common_elem.append(element)
        
print("Common element is:", common_elem)

Common element is: [1, 3, 5]

## 47. Create a set of the first n triangular numbers.

In [12]:
def gen_triangular_numbers(n):
    triangular_numbers = set()
    for i in range(1, n + 1):
        triangular_number = i * (i + 1)//2
        triangular_numbers.add(triangular_number)
    return triangular_numbers
n = int(input("Enter the value of n:"))
# call function to generate first 'n' triangular numbers
triangular_set = gen_triangular_numbers(n)
# Display triangular numbers
print(f"The set of the first (n) triangular numbers is:", triangular_set)

Enter the value of n:15
The set of the first (n) triangular numbers is: {1, 66, 3, 36, 6, 105, 10, 45, 78, 15, 21, 55, 120, 91, 28}

## 48. Check if a set contains another set as a subset.

In [13]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}
# check set2 is subset of set1
is_subset = set2.issubset(set1)

if is_subset:
    print("Set2 is a subset of set1")
else:
    print("Set2 is not a subset of set1")

Set2 is a subset of set1

### 49. Create a set of alternating 1s and 0s of length n.

In [15]:
def create_alternate_set(n):
    alternating_set = set()
    
    for i in range(n):
        if i % 2 == 0:
            alternating_set.add(1)
        else:
            alternating_set.add(0)
    return alternating_set
length_n = 10

result = create_alternate_set(length_n)
print(result)

{0, 1}

## 50. Merge multiple sets into one.

In [17]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
# use union() to merge set2 & set3
merge_set = set1.union(set2, set3)

print("Merged sort is:",merge_set)

Merged sort is: {1, 2, 3, 4, 5, 6, 7}